*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Poppins',sans-serif
}
body{
    background-color: #222;
}
.card{
    text-align: center;
    width:90%;
    max-width: 470px;
    border: 1px solid black;
    margin:100px auto 0;
    background:linear-gradient(135deg, #00feba,#5b548a);
    color: #fff;
    border-radius: 20px;
    padding: 40px 35px;
}
.search-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.search-box input{
    border: 0;
    outline: 0;
    flex: 1;
    height: 60px;
    padding: 10px 25px;
    color: #555;
    border-radius: 30px;
    margin-right: 16px;
    font-size: 18px;
    background-color: #ebfffc;
}
.weather-icon{
    width: 170px;
    margin-top: 30px;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
 .col{
    display:flex ;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 10px;
} 
.humidity, .wind{
    font-size: 28px;
    margin-top: -6px;
}
.weather{display: none;}
.error{
    display: none;
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
}